// Colors

$purple-dark: #c72b50;//2b3445
$purple-dark-20: #9f2240;
$purple-ligher-50:#f4d5dc;
$carrot-red: #2b3445;//e84748
$light:#d7d7d7;



$review-cold: #ffc107;

$html-color: #dd4b25;
$css-color: #0b6fb4;
$js-color: #f6d137;

$bs-color: #8311f6;

$sass-color: #c76494;
$ts-color: #2f74c0;
$http: #498cc4;

$angular-color: #af2b2d;
$vue-color: #41b883;
$react-color: #61dafb;

$mongoDB-color: #13aa52;
$nodeJS-color: #3f863e;
$npm-color: #c92a29;
